*{
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

:root {
    --color-darkPurple: #768cce;
    --color-purple: #c3d6f2;
    --color-lightPurple : #d1eaf5;
    --color-green: #e1f7e7;
    --color-pink: #ffc6d0;
    --color-lightPink: #ffd6da;
}


@keyframes popIn {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}